<div id="equipmentEditForm" class="form-inline">
<%= form_for [@equipment.production, @equipment] do |f| %>
  <%= f.text_field :channel, :class => 'col-md-1' %>
  <%= f.text_field :dimmer, :class => 'col-md-1'  %>
  <%= f.text_field :position, :class => 'col-md-1'  %>
  <%= f.text_field :unit_number, :class => 'col-md-1'  %>
  <%= f.text_field :instrument_type, :class => 'col-md-2'  %>
  <%= f.text_field :purpose, :class => 'col-md-1'  %>
  <%= f.text_field :color, :class => 'col-md-1'  %>
  <%= f.text_field :gobo_1, :class => 'col-md-1'  %>
  <%= f.text_field :accessories, :class => 'col-md-1'  %>
  <%= f.submit %>
<% end  %>
</div>
