<div class="view-header">
	<h2>Welcome back, <%=@user.username%>.  You are logged in as a <%=@user.user_type%></h2>
</div>

<% @users.each do |user| %>
  <span>Username: <%= user.username %></span>
  <span>Email: <%= user.email %></span>
  <span>User type: <%= user.user_type %></span>
  <%= link_to("Delete", "/users(user.id)", method: :delete) %>
  <%= link_to("Edit", "/users/edit(user.id)") %>
  <%= link_to("View user's productions", "/productions/") %>
<% end %>
