<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Show</h4>
      </div>
      <div class="modal-body">
	<%= form_tag("/productions/new", method: "post") do %>
	<%= label_tag(:name, "Production Name:") %>
	<%= text_field_tag(:name)%>
	<%= label_tag(:date, "Production Date:") %>
	<%= text_field_tag(:date)%>
	<%= label_tag(:venue, "Venue:") %>
	<%= text_field_tag(:venue)%>
	<%end%>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close without saving</button>
        <button type="button" class="btn btn-primary">Create Show</button>
      </div>
    </div>
  </div>
</div>