<table class="table">
  <% @productions.each do |production| %>
  <tr id="prod<%= production.id %>">
    <td><%= production.name %></a> </td>
    <td><%= button_to "View", production_path(production), :method => :get %></td>
    <td><%= button_to "Remove Production", production, :method => :delete %></td>
    <td><%= form_tag(uploads_create_path(id: production.id), multipart: true) do %>
      <%= file_field_tag 'vectorworks_file' %>
      <%= submit_tag "Upload file from Vectorworks"  %>
    <% end %></td>
    <% if production.equipments.count>0 %>
    <td><%= button_to "Download Production into .tsv format", uploads_download_path(id: production.id) %></td>
    <% end %>
    </tr>
  <% end %>
</table>
