  <div class="col-md-3 channel-maker">
  	<span class="channel-box">
  	<!-- Button trigger modal -->
      <a href="/productions/<%=@production.id %>/equipments/new" type="button" class="btn btn-lg" data-toggle="modal" data-target="#newEquipmentModal">
        + New Channel
      </a>
  	</span>
  </div><!-- Close col-md-3 channel-maker -->

<div class="col-md-9 tab-views">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#channel-hookup">Channel Hookup</a></li>
		<li><a data-toggle="tab" href="#circuit-hookup">Circuit Hookup</a></li>
 		<li><a data-toggle="tab" href="#dimmer-hookup">Dimmer Hookup</a></li>

		<li><a data-toggle="tab" href="#instr-sched">Instrument Schedule</a></li>
    <li><a data-toggle="tab" href="#color-schedule">Color Schedule</a></li>
	</ul>
</div><!-- Close col-md-9 tab-views -->

<div class="tab-content">

  <%= render :partial => "equipments/channel_hookup" %>

  <%= render :partial => "equipments/circuit_hookup" %>

  <%= render :partial => "equipments/dimmer_hookup" %>

  <%= render :partial => "equipments/instr_sched" %>

  <%= render :partial => "equipments/color_schedule" %>

</div><!-- Close tab-content -->


<%= render :partial => "productions/inventory" %>

<div class="modal fade" id="newEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

<div class="modal fade" id="editEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		</div>
	</div>
</div>




<footer class="navbar navbar-default navbar-bottom navbar-fixed" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Print as pdf", print_path(id: "#{@production.id}", format: "pdf"), :method => :get, target: '_blank'  %></li>
      <li class="bottom-button inventory-toggle"><a href="/">Inventory</a></li>
      <li class="bottom-button library-toggle"><a href="/">Library</a></li>
    </ul>
  </div>
</footer>
