<td><%= name %></td>
<td><%= date %></td>
<td><%= designer %></td>
<td><%= master_electrician %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
